@font-face {
  font-family: "iconfont"; /* Project id 4640800 */
  src: url('../font/iconfont.woff2?t=1722519624518') format('woff2'),
       url('../font/iconfont.woff?t=1722519624518') format('woff'),
       url('../font/iconfont.ttf?t=1722519624518') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-zhengque:before {
  content: "\e601";
}

.icon-jinggao:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e668";
}

.icon-guanbi:before {
  content: "\e676";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-about:before {
  content: "\e640";
}

.icon-arrowdown:before {
  content: "\e66b";
}

.icon-arrowup:before {
  content: "\e66d";
}

.icon-liuyan:before {
  content: "\e69f";
}

.icon-blog:before {
  content: "\e603";
}

.icon-email:before {
  content: "\e664";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-empty:before {
  content: "\e6a6";
}

.icon-zhuye:before {
  content: "\e639";
}

.icon-github:before {
  content: "\e673";
}

